 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 300 to 900 */

/* .playfair-<uniquifier> {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

body {
    background-color: aliceblue;
}