 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 300 to 900 */

/* .playfair-<uniquifier> {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  } */

:root {
    --titulos-font: "Playfair", serif;
    --default-font: "Poppins", sans-serif;
    --primary-color: #F9F7FE;
}

.hero{
    background-color: var(--primary-color);
    text-align: center;
    padding: 80px 40px;
}

.hero p {
    font-family: var(--default-font);
    /* font-size: 36px; */
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.hero h1{
    font-family: var(--titulos-font);
    font-size: 74px;
    font-weight: 700;
    margin: 0;
}

/* .hero h1{
    font-family: var(--titulos-font);
    font-size: 96px;
    font-weight: 700;
    margin: 0;
} */

.hero h2 {
    font-family: var(--default-font);
    /* font-size: 24px; */
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.hero a {
    text-decoration: none;
    margin: 40px;
}

.title-section h2 {
    font-family: var(--default-font);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding: 40px 0;
}

.container h1 {
    font-family: var(--titulos-font);
    font-weight: 700;
    font-size: 44px;
    margin: 5px;
}

.container p {
    font-family: var(--default-font);
    font-weight: 400;
    font-size: 16px;
    margin: 5px;
}

.container a {
    margin: 10px 5px;
}
/* @media (max-width: 920px) {
    .hero{
        background-color: var(--primary-color);
        text-align: center;
        padding: 20px 20px;
    }
    .hero h1{
        font-family: var(--titulos-font);
        font-size: 84px;
        font-weight: 700;
        margin: 0;
    }
    .title-section h2 {
        font-family: var(--default-font);
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        padding: 40px 0;
    }
    .container h1 {
        font-family: var(--titulos-font);
        font-weight: 700;
        font-size: 48px;
    }

} */
